[Desktop Entry]
Version=1.0
Name=Brave
GenericName=Web Browser
GenericName[ar]=متصفح الشبكة
GenericName[bg]=Уеб браузър
GenericName[ca]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[da]=Browser
GenericName[de]=Web-Browser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ru]=Веб-браузер
GenericName[sv]=Webbläsare
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Comment=Access the Internet
Comment[ar]=الدخول إلى الإنترنت
Comment[bg]=Достъп до интернет
Comment[ca]=Accedeix a Internet
Comment[cs]=Přístup k internetu
Comment[da]=Få adgang til internettet
Comment[de]=Internetzugriff
Comment[el]=Πρόσβαση στο Διαδίκτυο
Comment[en_GB]=Access the Internet
Comment[es]=Accede a Internet.
Comment[et]=Pääs Internetti
Comment[fi]=Käytä internetiä
Comment[fr]=Accéder à Internet
Comment[hu]=Internetelérés
Comment[it]=Accesso a Internet
Comment[ja]=インターネットにアクセス
Comment[ko]=인터넷 연결
Comment[nl]=Verbinding maken met internet
Comment[pl]=Skorzystaj z internetu
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Comment[ru]=Доступ в Интернет
Comment[sv]=Gå ut på Internet
Comment[zh_CN]=访问互联网
Comment[zh_TW]=連線到網際網路
StartupNotify=true
StartupWMClass=brave-browser
TryExec=brave-browser
Exec=brave-browser %U
Terminal=false
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[es]=Nueva ventana
Name[fr]=Nouvelle fenêtre
Name[it]=Nuova finestra
Name[ja]=新規ウインドウ
Name[ko]=새 창
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Exec=brave-browser

[Desktop Action new-private-window]
Name=New Private Window
Name[cs]=Nové anonymní okno
Name[de]=Neues privates Fenster
Name[es]=Nueva ventana de incógnito
Name[fr]=Nouvelle fenêtre de navigation privée
Name[it]=Nuova finestra di navigazione in incognito
Name[ja]=新しいシークレット ウィンドウ
Name[ko]=새 시크릿 창
Name[nl]=Nieuw incognitovenster
Name[pl]=Nowe okno incognito
Name[pt_BR]=Nova janela anônima
Name[ru]=Новое окно в режиме инкогнито
Name[zh_CN]=新建隐身窗口
Name[zh_TW]=新增無痕式視窗
Exec=brave-browser --incognito
